/* Headings */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* Body */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --main-color: hsl(257, 40%, 49%);
  --secondary-color: rgb(248, 248, 248);
  --shadow-color: hsl(257, 50%, 36%);
  --bg-secondary-color: #b14fbc;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: var(--secondary-color);
  background-color: var(--main-color);
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  margin: 0;
}

.primary-container {
  padding: 1.75rem 2.3rem;
}

#header {
  display: flex;
  justify-content: flex-start;
}

.logo {
  width: 40%;
  margin: 0;
}
.title {
  font-family: "Poppins", sans-serif;
}
.hero-illustration {
  width: 100%;
}

.hero-text {
  font-weight: 400;
}

.button {
  padding: 0.75rem 4.5rem;
  background-color: var(--secondary-color);
  color: var(--main-color);
  border-radius: 3.125rem;
  border: none;
  box-shadow: 0.0625rem 0.0625rem 0.1875rem var(--shadow-color);
  --bg-secondary-color: #b14fbc;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.button:hover {
  background: transparent;
  color: var(--secondary-color);
  border: 0.125rem solid var(--bg-secondary-color);
}

#social-logos {
  display: flex;
  justify-content: center;
  align-content: center;
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

.social-logo-container {
  border: 0.0625rem solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
  padding: 0.3rem;
  height: 1rem;
  width: 1rem;
}

.social-logo {
  font-size: 0.65rem;
}

@media only screen and (min-width: 376px) {
  body {
    background-image: none;
  }
}

@media only screen and (min-width: 800px) {
  .logo {
    width: 15%;
  }

  .primary-container {
    padding: 3rem 4rem 2.5rem;
  }

  #main {
    display: flex;
  }

  .title {
    font-size: 2.25rem;
  }

  .hero-illustration {
    width: 60%;
    height: 80%;
  }
  .hero-content {
    padding: 2rem 4.5rem;
  }
  .button {
    font-size: 1rem;
    padding: 0.75rem 3.5rem;
  }

  #social-logos {
    justify-content: flex-end;
    margin: 0 8.5rem 2rem 0;
  }

  .social-logo-container {
    height: 1.25rem;
    width: 1.25rem;
  }
  .social-logo {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1440px) {
  body {
    background-image: url(../images/bg-desktop.svg);
    text-align: left;
  }
}

/* For larger screen sizes - bg image is set height */
@media all and (min-width: 1440px) and (min-height: 801px) {
  body {
    background-image: none;
  }
}
